<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Calendar_Converter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Calendar_Converter.Properties.Settings>
            <setting name="BreakDataFile" serializeAs="String">
                <value />
            </setting>
            <setting name="OldStart" serializeAs="String">
                <value>2015-01-01</value>
            </setting>
            <setting name="NewStart" serializeAs="String">
                <value>2015-01-01</value>
            </setting>
            <setting name="IncludeBreaks" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CalculateBreaks" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NumberOfWeeks" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="CurrentWeek" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DateFormatString" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="OldSemesterColor" serializeAs="String">
                <value>#FFDC143C</value>
            </setting>
            <setting name="NewSemesterColor" serializeAs="String">
                <value>#FF808080</value>
            </setting>
            <setting name="SpringBreakWeekNum" serializeAs="String">
                <value>10</value>
            </setting>
        </Calendar_Converter.Properties.Settings>
    </userSettings>
</configuration>